@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 2, 6, 23;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --gold-500: #EAB308;
  --border-color: #e2e8f0;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 2, 6, 23;
  --border-color: #1e293b;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Gold Accent */
.border-gold-500 {
  border-color: #EAB308;
}

.text-gold-500 {
  color: #EAB308;
}

.bg-gold-500 {
  background-color: #EAB308;
}
